<ul class="list-group ">
  <li *ngFor="
      let character of charactersList;
      let i=index;
      let isFirst=first;
      let isLast=last;
      let isEven=even
      let isOdd=odd"
  class="list-group-item d-flex justify-content-between align-items-center"
  [ngClass]="{
    'list-group-item-info': isEven,
    'list-group-item-dark': isOdd
  }"
  >
  <div >
    <span>{{i +1}}. {{character.uuid}} </span>
    <span>{{character.name }} </span>
    <strong>Power: </strong>
    <span>{{character.power}}</span>
  </div>
  <button (click)="onDeleteCharacter(character.uuid )" class="btn btn-danger">X</button>

  </li>

</ul>
